  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ysabeau+Infant:ital,wght@0,300;0,600;1,400&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
    overflow-x: hidden;
       

}

.navbar {
    display: flex;
    justify-content: space-between;  
    height: 50px;
    padding: 10px;
   
  }
  
  /* Estilo para el botón de hamburguesa */
  .menu-icon {
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Estilos para el menú */
  .menu {
    display: none; /* Ocultar el menú por defecto */
    list-style: none;
    
    
  }
  .menu li a{
    color:darkblue ;
    font-weight: bold;
    text-decoration: none;
    
  }
  .menu li {
    margin: 0 10px;
    
  }
  
  /* Estilos para mostrar el menú */
  .menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 20%;
    z-index: 1;
    border-radius:20px;
    
  }

p{
    padding: 20px;
    font-size: 30px;
    color:white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
h2{color:white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}
h3{color:white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}


.wrapper{  
  left: 0;
  bottom: 0;
  width:100%;
  background: linear-gradient(135deg, #ff00ff, #00ffff, #00ff00, #ffff00, #ff0000);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
.brand span{
    color:blue;
     
 }

.personal{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    align-items:center;
       }

.mifoto{
        width: 30%;
        height: 30%;
        border-radius: 30px;
    }
    
.about{    
    border: hidden ;
    padding: 80px;
    width: 50%;
    text-align: justify;
    font-size: 24px;
    font:bold;
   
    
}
.section-educacion{
    border: hidden ;    
    width: 100%;    
    font-size: 24px;
    padding: 5px;
    font:bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}
.educ{
    display: flex;
    flex-direction: column;   
    width:100%;
    text-align:center;
    padding: 5px;
}
.certi{
    display: flex;
    flex-direction: row;  
     width:100%;
    text-align:center;
    padding: 5px;}
    
.Cardproyect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
   
}
.card1 {
    
    padding: 20px;  
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
   


}
.card2 {
    padding: 20px;  
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
}
.card3 {
    padding: 20px;  
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
     
   
}
.card4{
    padding: 20px;  
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
   
    
   
}

img[alt="aws"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }
img[alt="re/Start"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }

img[alt="scrum"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }

img[alt="tecnico"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }
img[alt="getting"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }

img[alt="sheworks"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }

img[alt="ux"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }
img[alt="sheworks2"] {
       
        border: hidden;
        padding: 5px;
        width: 200px;
      }
h2{
        display: flex;
        justify-content: center;
        padding: 40px;
      }
.Cardproyect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 60px;

}
.card-text{
    font-size: 12px;
    text-align: justify;
}
.link{
   align-items: center;
   text-align: center;
   color: white;
   font:bold;
}
.footerlink{
    display:flex;
    flex-direction:row;
    justify-content:center;    
     
}
.linke{
    width: 30px;

}
.git{
    width: 30px;
}
/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .wrapper{  
        left: 0;
        bottom: 0;
        width:100%;
        background: linear-gradient(135deg, #ff00ff, #00ffff, #00ff00, #ffff00, #ff0000);
        background-size: 500% 500%;
        animation: gradient 15s ease infinite;
      }
      @keyframes gradient {
          0% { background-position: 0% 50%; }
          50% { background-position: 100% 50%; }
          100% { background-position: 0% 50%; }
        }
    
    
    .navbar {
            display: flex;
            justify-content: space-between;  
            height: 50px;
            padding: 10px;
           
          }
    .menu-icon {
      display: block; 
    }
  
    .menu {
      position: relative; 
    }
    .menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        width: 40%;
        z-index: 1;
      }
  
    
    body {
      font-size: 16px; /
    }  
   
    .personal {      
     
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
      
      
    }
    .mifoto{
        width: 50%;
        height: 50%;
        border-radius: 30px;
    }
    .about{    
        border: hidden ;
        padding: 20px;
        width: 100%;
        text-align: justify;
        font-size: 24px;
        font:bold;}


    .section-educacion{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            
        }
    .certi{
            display: flex;
            flex-direction:column;  
             width:100%;
            justify-content:center;
           }


    .Cardproyect {
      flex-direction: column; 
    }
  
    .card1,
    .card2,
    .card3,
    .card4 {
      width: 100%;
      margin-bottom: 20px; 
    }
  
    .card-text {
      font-size: 16px; 
    }
  }
  .section-educacion{
    
    flex-direction: column;
    justify-content: space-between; 
  }
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  } 
 
  #toggle:checked + .menu {
    display: flex;
  }
  .menu li {
    margin: 10px 0; /* Agregar espacio vertical entre los elementos del menú */
  }
  .menu {
    flex-direction: column; /* Cambiar la disposición a una columna */
    align-items: center; /* Centrar los elementos verticalmente */
    background-color: #f2f2f2;
    position: absolute;
    top: 50px; /* Ajustar la posición vertical del menú desplegable */
    left: 0;
    width: 100%;
    z-index: 1; /* Asegurar que el menú se muestre por encima del contenido */
  }
